Welcome to Hasbihal!

Thank you for signing up for Hasbihal! Please confirm your email address by clicking the link below.

<a href="<%= HasbihalWeb.Endpoint.url %>/users/verify/<%= @token %>">confirm my account</a>
