<h2><%= @user.name %></h2>

<%= if !is_nil(@current_user) && @user.id != @current_user.id do %>
  <a class="mdl-button mdl-js-button"
    href="<%= Routes.conversation_path(@conn, :index, uid: @user.id) %>">
    <i class="material-icons">chat</i> hasbihal
  </a>
<% end %>
