image: elixir:latest

services:
  - postgres:latest

variables:
  POSTGRES_DB: hasbihal_test
  POSTGRES_HOST: postgres
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: "postgres"
  MIX_ENV: "test"
  
before_script:
  - apt-get update && apt-get -y install postgresql-client
  - mix local.rebar --force
  - mix local.hex --force
  - mix deps.get --only test

mix:
  script:
  - mix test
