<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <%= csrf_meta_tag() %>

    <title>Hello Hasbihal!</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href='<%= Routes.static_path(@conn, "/css/app.css") %>'>
  </head>

  <body>
    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title"><a href="<%= Routes.page_path(@conn, :index) %>">hasbihal</a></span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>

          <nav class="mdl-navigation mdl-layout--large-screen-only">
            <a class="mdl-navigation__link" href="<%= Routes.user_path(@conn, :index) %>">users</a>
            <%= if @user_signed_in? do %>
              <div style="position: relative">
                <button id="messages-dropdown"
                        class="mdl-button mdl-js-button mdl-button--icon">
                  <%=
                  if length(
                    Enum.filter(@conn.assigns[:conversations], fn v ->
                      message = List.first(v.messages)
                      !is_nil(message) && Map.get(message, :user_id) != @current_user.id && is_nil(message.seen_by_id)
                    end)
                  ) > 0 do %>
                    <i class="material-icons">notifications_active</i>
                  <% else %>
                    <i class="material-icons">notifications_none</i>
                  <% end %>
                </button>
                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                    style="min-width: 200px"
                    for="messages-dropdown">
                  <%= for conversation <- @conn.assigns[:conversations] do %>
                    <li class="mdl-menu__item" style="display: flex;
                                                      flex-direction: column;
                                                      justify-content: center;
                                                      padding: 5px 16px;
                                                      height: initial;
                                                      min-height: 48px;
                                                      line-height: initial;">
                      <a href="<%= Routes.message_path(@conn, :messages, conversation.key) %>">
                        <%= Map.get(List.first(Enum.filter(conversation.users, fn v -> v.id != @current_user.id end)), :name) %>
                      </a>
                      <%= if length(conversation.messages) > 0 do %>
                        <small style="color: #777;"><%= Map.get(List.first(conversation.messages), :message) %></small>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              </div>

              <%= link(to: Routes.session_path(@conn, :delete, @current_user.id), method: :delete, class: "mdl-navigation__link", data: [confirm: "Really?"]) do %>
                <i class="material-icons">lock</i>
              <% end %>
            <% else %>
              <a class="mdl-navigation__link" href="<%= Routes.user_path(@conn, :new) %>">register</a>
              <a class="mdl-navigation__link" href="<%= Routes.session_path(@conn, :new) %>">sign in</a>
            <% end %>
          </nav>

          <nav class="mdl-navigation mdl-layout--small-screen-only mobile-menu">
            <button id="mobile-menu-dropdown"
                    class="mdl-button mdl-js-button mdl-button--icon">
              <i class="material-icons">more_vert</i>
            </button>

            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                for="mobile-menu-dropdown">
              <%= if @user_signed_in? do %>
                <li class="mdl-menu__item"><a href="<%= Routes.conversation_path(@conn, :index) %>">messages</a></li>
                <li class="mdl-menu__item"><%= link("sign out", to: Routes.session_path(@conn, :delete, @current_user.id), method: :delete, data: [confirm: "Really?"]) %></li>
              <% else %>
                <li class="mdl-menu__item"><a href="<%= Routes.user_path(@conn, :new) %>">register</a></li>
                <li class="mdl-menu__item"><a href="<%= Routes.session_path(@conn, :new) %>">sign in</a></li>
              <% end %>
            </ul>
          </nav>

        </div>
      </header>

      <main class="container">
        <%= render @view_module, @view_template, assigns %>
      </main>
    </div>

    <%= if !is_nil(@current_user) do %>
      <script>window.userId = <%= @current_user.id %>;</script>
      <script>window.userToken = "<%= @user_id %>";</script>
    <% end %>
    <script src='<%= Routes.static_path(@conn, "/js/app.js") %>'></script>

    <%= if get_flash(@conn) do %>
      <div id="notice" class="mdl-js-snackbar mdl-snackbar">
        <div class="mdl-snackbar__text"></div>
        <button class="mdl-snackbar__action" type="button"></button>
      </div>
      <script type="text/javascript">
        <%= for {_k, v} <- get_flash(@conn) do %>
          window.showFlashMessages('<%= v %>')
        <% end %>
      </script>
    <% end %>
  </body>
</html>
