<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Hasbihal!</title>
    <link rel="stylesheet" href='<%= static_path(@conn, "/css/app.css") %>'>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="<%= page_path(@conn, :index) %>">hasbihal</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active"><a class="nav-link" href="<%= page_path(@conn, :index) %>">index</a></li>
            <li class="nav-item"><a class="nav-link" href="<%= page_path(@conn, :about) %>">about</a></li>
            <%= if @user_signed_in? do %>
              <li class="nav-item"><a class="nav-link" href="<%= user_path(@conn, :index) %>">users</a></li>
            <% end %>
          </ul>

          <ul class="navbar-nav my-2 my-lg-0">
            <%= if @user_signed_in? do %>
              <li class="nav-item"><a class="nav-link" href="<%= page_path(@conn, :index) %>"><%= @current_user.name %></a></li>
              <li class="nav-item"><%= link("sign out", to: session_path(@conn, :delete, @current_user.id), method: :delete, class: "nav-link", data: [confirm: "Really?"]) %></li>
            <% else %>
              <li class="nav-item"><a class="nav-link" href="<%= user_path(@conn, :new) %>">register</a></li>
              <li class="nav-item"><a class="nav-link" href="<%= session_path(@conn, :new) %>">sign in</a></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Begin page content -->
    <div class="container">
      <%= if get_flash(@conn, :info) do %>
        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <% end %>
      <%= if get_flash(@conn, :error) do %>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <% end %>

      <%= render @view_module, @view_template, assigns %>
    </div>

    <footer class="footer">
      <div class="container">
        <p class="text-muted">&copy; <%= DateTime.utc_now().year %></p>
      </div>
    </footer>

    <script>window.userToken = "<%= @user_id %>";</script>
    <script src='<%= static_path(@conn, "/js/app.js") %>'></script>
  </body>
</html>
